html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.signout-button {
    margin-left: auto;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.form-inline {
    display: inline;
}

.validation-summary-errors,
.field-validation-valid,
.field-validation-error {
    color: red;
}

.validation-summary-errors > ul {
    list-style-type: none;
    padding-left: 0;
}

.hidden-input {
    opacity: 0;
    height: 0;
    pointer-events: none;
}