@model CommentModel

@{
    ViewData["Title"] = "Редактирование комментария";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Edit" asp-route-id=@null>
    <div class="mb-3">
        <label for="content">Содержание</label>
        <textarea asp-for="Content" id="content" class="form-control" type="text" minlength="2" maxlength="2000" required></textarea>
        <span asp-validation-for="Content"></span>
    </div>

    <input asp-for="Id" type="hidden" />

    <button class="btn btn-primary" type="submit">Сохранить</button>
</form>