@model RoleModel

@{
    ViewData["Title"] = "Добавление роли";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Roles" asp-action="Add">
    <div class="mb-3">
        <label form="name">Название</label>
        <input asp-for="Name" id="name" class="form-control" type="text" required />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label form="description">Описание</label>
        <textarea asp-for="Description" id="description" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Добавить</button>

    <div>
        <a asp-area="" class="link-primary" asp-controller="Roles" asp-action="All">Список всех ролей</a>
    </div>
</form>