@model RoleModel

@{
    ViewData["Title"] = "Редактирование роли";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Roles" asp-action="Edit" asp-route-id=@null>
    <div class="mb-3">
        <label form="name">Название</label>
        <input asp-for="Name" id="name" class="form-control" type="text" required minlength="2" maxlength="50" required />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label form="description">Описание</label>
        <textarea asp-for="Description" id="description" class="form-control" minlength="2" maxlength="100" required></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Сохранить</button>

    <input type="hidden" asp-for="Id"/>
</form>

<div>
    <a asp-area="" class="link-primary" asp-controller="Roles" asp-action="All">Список всех ролей</a>
</div>