@model CreatePostViewModel

@{
    ViewData["Title"] = "Добавление статьи";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <script type="text/javascript" src="~/js/Post.js"></script>
}

<form method="post" asp-controller="Post" asp-action="Create">
    @foreach (var tag in Model.Tags)
    {
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="tag-@(tag.Id)" onclick="AddTag(this);" @(Model.Post.Tags.Any(x => x.Id == tag.Id) ? "checked" : "")>
            <label class="form-check-label" for="tag-@(tag.Id)">
                @tag.Name
            </label>
        </div>
    }

    <div class="mb-3">
        <label for="title">Заголовок</label>
        <input asp-for="Post.Title" id="title" class="form-control" type="text" required />
        <span asp-validation-for="Post.Title"></span>
    </div>
    <div class="mb-3">
        <label for="description">Краткое описание</label>
        <input asp-for="Post.Description" id="description" class="form-control" type="text" required />
        <span asp-validation-for="Post.Title"></span>
    </div>
    <div class="mb-3">
        <label for="content">Контент</label>
        <textarea asp-for="Post.Content" id="content" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Добавить</button>

    <div>
        <a asp-area="" class="link-primary" asp-controller="Post" asp-action="Index">Список всех статей</a>
    </div>

    <input type="hidden" asp-for="SelectedTagIds" id="selectedTagIds" />
</form>