@model TagModel

@{
    ViewData["Title"] = "Добавление тэга";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Tags" asp-action="Add">
    <div class="mb-3">
        <label for="name">Название</label>
        <input asp-for="Name" type="text" id="name" class="form-control" required minlength="2" />
        <span asp-validation-for="Name"></span>
    </div>
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <div>
        <a asp-area="" class="link-primary" asp-controller="Tags" asp-action="All">Список всех тэгов</a>
    </div>
</form>