@model UserModel

@{
    ViewData["Title"] = "Регистрация пользователя";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="SignUp" asp-action="Index">
    <div class="mb-3">
        <label form="secondName">Фамилия</label>
        <input asp-for="SecondName" id="secondName" class="form-control" type="text" required minlength="2" />
        <span asp-validation-for="SecondName"></span>
    </div>
    <div class="mb-3">
        <label form="firstName">Имя</label>
        <input asp-for="FirstName" id="firstName" class="form-control" type="text" required minlength="2" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="mb-3">
        <label form="patronymicName">Отчество</label>
        <input asp-for="PatronymicName" id="patronymicName" class="form-control" type="text" />
    </div class="mb-3">
    <div class="mb-3">
        <label form="email">Email</label>
        <input asp-for="Email" type="email" id="email" class="form-control" required />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label form="password">Пароль</label>
        <input asp-for="Password" type="password" id="password" class="form-control" required minlength="5" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label form="about">О себе</label>
        <textarea asp-for="About" id="about" class="form-control" ></textarea>
    </div>
    <div class="mb-3">
        <label form="birthDate">Дата рождения</label>
        <input asp-for="BirthDate" type="date" id="birthDate" class="form-control" required />
        <span asp-validation-for="BirthDate"></span>
    </div>

    <button class="btn btn-primary" type="submit">Зарегестрироваться</button>
</form>