@model UserModel

<form method="post" asp-controller="SignUp" asp-action="Index">
    <div>
        <input asp-for="SecondName" type="text" placeholder="Фамилия" required />
        <span asp-validation-for="SecondName"></span>
    </div>
    <div>
        <input asp-for="FirstName" type="text" placeholder="Имя" required />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <input asp-for="PatronymicName" type="text" placeholder="Отчество" />
    </div>
    <div>
        <input asp-for="Email" type="email" placeholder="Email" required />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <input asp-for="Password" type="password" placeholder="Пароль" required />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <textarea asp-for="About" placeholder="О себе"></textarea>
    </div>
    <div>
        <input asp-for="BirthDate" type="date" placeholder="Пароль" required />
        <span asp-validation-for="BirthDate"></span>
    </div>

    <div>
        <button class="button-primary" type="submit">Вход</button>
    </div>
</form>